<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TCRMServicesWebServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.172.14.199:8183/SuperfinancieraWebServiceTRM/TCRMServicesWebService/TCRMServicesWebService"
                binding="basicHttpBinding" bindingConfiguration="TCRMServicesWebServiceSoapBinding"
                contract="TcrmService.TcrmServicesInterface" name="TcrmServicesInterfaceImplPort" />
        </client>
    </system.serviceModel>
</configuration>